.challengeBoxContainer {
  height: 100%;

  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.challengeNotActive {
  display: flex;
  flex-direction: column;
  align-items: center;

  strong {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
  }

  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-width: 70%;
    margin-top: 3rem;

    img {
      margin-bottom: 1rem;
    }
  }
}

.challengeActive {
  height: 100%;

  display: flex;
  flex-direction: column;

  header {
    color: var(--blue);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 0 1.5rem;
    border-bottom: 1px solid var(--gray-line);
  }

  section {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    strong {
      font-weight: 600;
      font-size: 1.875rem;
      color: var(--title);
      margin: 1.5rem 0 0.5rem;
    }

    p {
      line-height: 1.5;
    }
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;

    button {
      outline: 0;
      height: 3.125rem;

      display: flex;
      align-items: center;
      justify-content: center;

      border: 0;
      border-radius: 5px;

      color: var(--white);

      font-size: 1rem;
      font-weight: 600;

      transition: background-color 200ms;

      &.challengeFailedButton {
        background-color: var(--red);

        &:hover,
        &:focus {
          background-color: darken($color: #e83f5b, $amount: 12%);
        }
      }

      &.challengeSucceededButton {
        background-color: var(--green);

        &:hover,
        &:focus {
          background-color: darken($color: #4cd62b, $amount: 10%);
        }
      }
    }
  }
}

@media only screen and (max-width: 630px) {
  .challengeActive section {
    margin: 1.5rem 0;
  }
}
