.experienceBar {
  display: flex;
  align-items: center;

  span {
    font-size: 1rem;
  }

  > div {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background-color: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;

    > div {
      transition: width 300ms;
      height: 100%;
      border-radius: inherit;
      background-color: var(--green);
    }
  }
}

.currentExperience {
  transition: left 300ms;
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
  width: fit-content;
}

@media only screen and (max-height: 700px), (max-width: 630px) {
  .experienceBar {
    margin-bottom: 3rem;
  }
}
