.leaderboardTable {
  margin-top: 2.5rem;
  border-collapse: collapse;

  thead {
    color: var(--text);
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;
    text-align: left;

    th[class="profile"] {
      padding-left: 1.5rem;
    }
  }

  tbody {
    &::before {
      content: '@';
      display: block;
      line-height: 1.5rem;
      text-indent: -99999px;
    }

    td {
      background-color: var(--white);
    }

    td:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    td:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    td[class="position"] {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
      border-right: 4px solid var(--background);
      width: 4.5rem;
    }

    td[class="profile"] {
      padding: 1rem 1.5rem;

      > div {
        display: flex;
        align-items: center;

        > img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }

        > div {
          margin-left: 1rem;

          strong {
            color: var(--title);
            font-size: 1.25rem;
            font-weight: 600;
          }
          
          p {
            margin-top: 0.2rem;

            display: flex;
            align-items: center;

            svg {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }

    td[class="info"] {
      font-weight: 500;

      [class="highlight"] {
        color: var(--blue);
      }
    }
    
    tr + tr {
      border-top: 0.5rem solid var(--background);
    }
  }
}