.leaderboardTable {
  margin-top: 2.5rem;
  border-collapse: collapse;

  thead {
    color: var(--text);
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;
    text-align: left;

    th[class="profile"] {
      padding-left: 1.5rem;
    }
  }

  tbody {
    &::before {
      content: '@';
      display: block;
      line-height: 1.5rem;
      text-indent: -99999px;
    }

    td {
      background-color: var(--white);
    }

    td:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    td:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    td[class="position"] {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 500;
      border-right: 4px solid var(--background);
      width: 4.5rem;
    }

    td[class="profile"] {
      padding: 1rem 1.5rem;

      > div {
        display: flex;
        align-items: center;

        > img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          object-fit: cover;
        }

        > div {
          margin-left: 1rem;

          strong {
            color: var(--title);
            font-size: 1.25rem;
            font-weight: 600;
          }
          
          p {
            margin-top: 0.2rem;

            display: flex;
            align-items: center;

            svg {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }

    td[class="info"] {
      font-weight: 500;

      [class="highlight"] {
        color: var(--blue);
      }
    }
    
    tr + tr {
      border-top: 0.5rem solid var(--background);
    }
  }
}

.leaderboardContainer {
  margin-top: 1.5rem;

  [class='user'] {
    background-color: var(--white);
    border-radius: 5px;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    p {
      color: rgba($color: #666, $alpha: 0.5);
      text-transform: uppercase;
      font-weight: 700;

      &[class='user__position'] strong {
        font-size: 1.5rem;
      }
      
      strong {
        margin-left: 0.5rem;
        font-weight: 500;
        color: var(--text);
        text-transform: unset;
        text-transform: lowercase;

        span[class='highlight'] {
          color: var(--blue);
        }
      }
    }

    [class='user__info'] {
      display: flex;
      flex-direction: column;

      > div {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;

        img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          object-fit: cover;
        }

        > div {
          margin-left: 1rem;

          strong {
            color: var(--title);
            font-size: 1.25rem;
            font-weight: 600;
          }

          p {
            color: var(--text);
            font-weight: 400;
            text-transform: capitalize;
            margin-top: 0.3rem;
            display: flex;
            align-items: center;

            svg {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }

    > * + * {
      margin-top: 0.6rem;
    }

    + [class='user'] {
      margin-top: 1.25rem;
    }
  }
}
