.container {
  min-height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;

  > section {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .container > section {
    gap: 3.25rem;
  }
}

@media only screen and (max-width: 630px) {
  .container > section {
    grid-template-columns: 1fr;
    gap: 2.25rem;
  }
}
