.loginContainer {
  min-height: 100vh;
  background: url('/moveit-bg.png') no-repeat center left;
  background-color: var(--blue);

  display: flex;
  align-items: center;
  justify-content: center;

  section {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: jackInTheBox;

    > img {
      margin-bottom: 6rem;
      width: 360px;
      max-width: 100%;
    }

    strong {
      color: var(--white);
      font-size: 2.25rem;
      font-weight: 600;
    }

    p {
      display: flex;
      align-items: center;
      color: var(--text-highlight);
      font-weight: 500;
      font-size: 1.25rem;
      max-width: 80%;
      margin: 1.5rem 0 2.5rem;

      img {
        margin-right: 1.5rem;
      }
    }

    button {
      width: 100%;
      height: 5rem;
      font-weight: 600;
      border: 0;
      background: linear-gradient(
        90deg,
        var(--blue-dark) 0%,
        rgba(73, 83, 184, 0.2) 100%
      );
      border-radius: 5px;
      color: var(--white);
      font-size: 1.25rem;
      position: relative;
      text-align: left;
      padding-left: 1.875rem;
      outline: 0;
      transition: background-color 200ms linear;

      &::after {
        content: '';
        background: url('/icons/right-arrow.svg') no-repeat center;
        background-color: var(--blue-dark);
        height: 100%;
        width: 5rem;
        position: absolute;
        right: 0;
        top: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: all 200ms;
        transition-delay: 200ms;
      }

      &:hover,
      &:focus {
        background-color: var(--blue-dark);

        &::after {
          background-color: var(--green);
          box-shadow: 0 0 10px 1px var(--green);
        }
      }
    }
  }
}

@media only screen and (max-width: 1380px) {
  .loginContainer {
    background-image: none;

    section {
      margin: 0 2rem;
    }
  }
}

@media only screen and (max-width: 320px) {
  .loginContainer section p {
    max-width: unset;
  }
}

// got this from animate.css
@keyframes jackInTheBox {
  0% {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
